<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.loystar.loystarbusiness">

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".auth.sync.StubProvider"
            android:authorities="co.loystar.loystarbusiness.provider"
            android:exported="false"
            android:label="Loystar Sync"
            android:syncable="true" />

        <service
            android:name=".auth.sync.AuthenticatorService"
            android:enabled="true"
            android:permission=""
            android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".auth.sync.SyncService"
            android:enabled="true"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.BrandedLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MerchantBackOfficeActivity"
            android:label="@string/title_activity_merchant_back_office"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AuthenticatorActivity"
            android:label="@string/title_activity_authenticator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MerchantSignUpActivity"
            android:label="@string/title_activity_merchant_sign_up"
            android:parentActivityName=".activities.AuthenticatorActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.loystar.loystarbusiness.activities.AuthenticatorActivity" />
        </activity>
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AppIntro"
            android:label="@string/title_activity_app_intro"
            android:theme="@style/VerticalIntroStyle" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>